:root{
    --theme-primory-color :#02245b;
    --theme-color :#02245b;
    --theme-color-white: #fff;
    --theme-color-border-color: rgba(255, 255, 255, 0.2);
    --theme-color-shadow-color: rgba(255, 255, 255, 0.1);
    --theme-color-light: #DEDBFF;
    --theme-color-blue: #009BF4;
    --theme-color-blue-2: #008EF4;
    --theme-color-black: #262626;
    --theme-color-black-2: #222222;
    --theme-color-gray: #777777;
    --theme-color-background: #FAFAFA;
    --theme-color-primary: #03C03C;
    --theme-color-dark-blue: #060A4A;
    --theme-color-divider-color: #E2E2E2;
    --theme-color-light-gray: #FAFAF9;
    --theme-color-gray-2: #5A5A5A;
    --theme-color-border-color-2: #EAEFF4;
}