@import "../../../style/main.scss";

.esg-color{
    background-color: var(--theme-color-background);
    .esg-flex{
        @include flex-with-justify-center;
        flex-direction: column;
        text-align: center;
        padding: 100px 50px 0 50px;
        span{
            @include font-md;
            font-weight: 700;
            display: block;
            padding: 0 0 30px 0;
            color: var(--theme-color-blue);
        }
        h2{
            @include heading2;
            padding: 0 0 30px 0;
        }
        p{
            @include paragraph;
            color: var(--theme-color-gray);
        }
    }
    .esg-img{
        @include flex-with-justify-center;
        padding: 70px 0 100px 0;
        img{
            width: 900px;
            height: 400px;
        }
    }
}