@import "../../../style/main.scss";

.feedback-color{
    background: radial-gradient(39.38% 39.38% at 76.25% 0%, rgba(0, 155, 244, 0.2) 0%, rgba(0, 155, 244, 0) 100%);;
    .feedback-padding{
        padding: 100px 0;
        .feedback-title{
            h2{
                @include heading2;
                text-align: center;
                padding: 0 0 100px 0;
                @media (max-width:768px) {
                    @include font36;
                }
                @media (max-width:576px) {
                    @include font24;
                    padding-bottom: 30px;
                }
            }
        }
        .feedback-grid{
            display: grid;
            grid-template-columns: repeat(3 , 1fr);
            gap: 20px;
            @media (max-width:768px) {
                grid-template-columns: repeat(2 ,1fr);
            }
            @media (max-width:576px) {
                grid-template-columns: repeat(1 ,1fr);
                
            }
            .feedback-grid-card{
                border: 1px solid rgba(157, 157, 157, 0.235);
                .feedback-grid-card-padding{
                    padding: 30px;
                    p{
                        @include paragraph;
                        padding: 0 0 25px 0;
                        letter-spacing: 0;
                    }
                    .feedback-grid-card-items{
                        display: flex;
                        text-align: center;
                        img{
                            width: 48px;
                            height: 48px;
                        }
                        .feedback-grid-card-items-text{
                            padding: 0 0 0 22px;
                            p{
                                font-weight: 600;
                                font-size: 16px;
                                letter-spacing: 0;
                                padding: 0;
                            }
                            span{
                                display: block;
                               
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    
}